@import '../../variables.scss';

.watchlist-container {
  font-size: 14px;
}

.watchlist-title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.company-row-container {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}
