@import '../../variables.scss';

.watchlist-container {
  font-size: 14px;
  position: relative;
  padding-bottom: 20px;
}

.watchlist-title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: 30px;
  border: 1px solid $secondary-color;
  cursor: pointer;
}
