@import '../../variables.scss';

.action-thresholds {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 8rem;
  width: 100%;

  .technical-analysis {
    background: $faded-cyan;
    background: $light-grey;
    margin-right: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
  }

  .other-analysis {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      margin-bottom: 0;
    }
    &__text {
      font-size: 16px;
    }
  }
}

.analysis-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analysis-flex > div {
  width: 50%;

  &:nth-child(2) {
    text-align: center;
  }
}
