@import '../../variables.scss';

.app-container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.app-header {
  padding: 15px 0 15px;
  background-color: $secondary-color;

  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-signout {
    display: flex;
    align-items: center;
    color: $white;
    cursor: pointer;

    &-text {
      margin-left: 5px;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.app-logo {
  line-height: 150%;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: Merriweather;
  margin: 0;
}

.app-logo__sigma {
  font-family: Arial;
  color: $white;
}
.app-logo__ly {
  color: $primary-color;
}

.app-main__stock-lists {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.watchlist {
  position: relative;
}

.watchlist,
.top-searched {
  width: 47%;
  height: 100%;
}

.watchlist table,
.top-searched table {
  width: 100%;
  font-size: 16px;
  padding: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-spacing: 10px;
  border-collapse: separate;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.watchlist th,
.top-searched th {
  text-align: left;
}

.watchlist .table-title,
.top-searched .table-title {
  color: $secondary-color;
  background: $faded-cyan;
  padding: 8px 10px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.watchlist table tr,
.top-searched table tr {
  border-bottom: 1px solid black;
}

.watchlist-remove {
  cursor: pointer;
  transition: all 0.2s ease;
  fill: $secondary-color;
  &:hover {
    fill: red;
    transform: scale(1.2);
    transition: all 0.2s ease;
  }
}
