@import '../../variables.scss';

.app-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.app-header {
  padding: 15px 0 15px;
  background-color: $secondary-color;

  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-signout {
    display: flex;
    align-items: center;
    color: $white;
    cursor: pointer;

    &-text {
      margin-left: 5px;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.app-logo {
  line-height: 150%;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: Merriweather;
  margin: 0;
}

.app-logo__sigma {
  font-family: Arial;
  color: $white;
}
.app-logo__ly {
  color: $primary-color;
}

.app-main {
  display: flex;
  justify-content: space-between;
}
