@import '../../index.scss';

.LogIn {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 16px 32px 32px;
  margin-top: 64px;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;

  &__Form {
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      font-size: 16px;
      margin-bottom: 24px;
      padding: 8px;
    }

    button {
      font-size: 16px;
      margin-bottom: 24px;
      padding: 8px;
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      background: $primary-color;
    }
  }
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 85%;
  max-width: 962px;
  // display: flex;
  margin: 4em auto;

  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;

  @media (max-width: 1081px) {
    flex-direction: column;
    width: 90%;
    box-shadow: none;
    .cta-content {
      display: none;
    }
  }
  .cta-content {
    width: 60%;
    padding: 0 2em;
    h1 {
    }
  }
  .login-main {
    width: 40%;
    border-left: 1px solid #efefef;
    padding: 1em;
    margin: 0 auto;
    padding: 4em 2em;
    @media #{$tablet} {
      border: 0px;
      width: 60%;
    }
    @media #{$phone} {
      width: 100%;
    }
    .alternative-cta {
      width: 90%;
      a {
        color: #0993fc;
        text-decoration: none;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 8px;
      }

      button {
        font-size: 16px;
        margin-bottom: 24px;
        padding: 8px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background: $primary-color;
      }
    }
  }
}
