@import '../../variables.scss';

.login-container,
.register-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  max-width: 962px;
  margin: 4em auto;
  align-items: center;
  background-color: #fff;
  // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  //   0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  // border-radius: 4px;

  @media #{$tablet} {
    flex-direction: column;
    width: 90%;
    box-shadow: none;

    .cta-content {
      display: none;
    }
  }

  .cta-content {
    width: 60%;
    padding: 0 2em;
  }

  .login-main,
  .register-main {
    width: 400px;
    padding: 1em;
    margin: 0 auto;
    padding: 4em 2em;

    @media #{$tablet} {
      border: 0px;
      width: 500px;
    }

    @media #{$phone} {
      width: 400px;
    }

    .alternative-cta {
      p {
        text-align: center;
      }
      a {
        color: #0993fc;
        text-decoration: none;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 8px;
        border: 1px solid #ccc;
        outline: none;

        &:focus {
          border: 1px solid $accent-color;
        }
      }

      button {
        font-size: 16px;
        margin-bottom: 24px;
        padding: 8px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background: $primary-color;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.register-container {
  flex-direction: row;
  .register-main {
    border-left: 1px solid #efefef;
    @media #{$tablet} {
      border: 0px;
    }
  }
}

.login-container {
  flex-direction: row-reverse;
  .login-main {
    border-right: 1px solid #efefef;
    @media #{$tablet} {
      border: 0px;
    }
  }
}
