html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Variables
$cyan: #5ae5dd;
$dary-navy: #0d122b;
$faded-navy: #0d122b;

$primary-color: $cyan;
$secondary-color: $dark-navy;
$accent-color: $faded-navy;
$faded-cyan: #e0fcf9;
$light-grey: #f9f9f9;
$white: #fff;
